<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Error</title>
	</head>
	<body>

		<h1>Error</h1>

		<h2> <code> {{ message }} </code></h2>

		<div>
			<a href="/">Try again?</a>
		</div>
		
	</body>
</html>
